// Partials / _mixins

// Ui
// -> icon
@mixin crop_marks_icon {
  display: inline-block;
}

// -> icon::before, icon::after
@mixin crop_marks_glitch {
  display: inline-block;
  position: absolute;
	width: auto;
	height: auto;
	z-index: -1;
}
