// Partials / _mixins

// General
// -> icon Fontawesome
@mixin fontawesome_pseudoclass {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

// Ui
// -> icon
@mixin crop_marks_icon {
  display: inline-block;
}

// -> icon::before, icon::after
@mixin crop_marks_glitch {
  display: inline-block;
  position: absolute;
	width: auto;
	height: auto;
}
