// Partials / _variables

//Ui
// -> Colors
$ui_primary_color: black;

// ->-> Header Colors Plaette Square
$header_square_1: #004c6a;
$header_square_2: #0087b7;
$header_square_3: #a1cce5;
$header_square_4: #e4eff7;
$header_square_5: #14ade8;

// -> Style
$corner_height: 25px;
$ui_icon_font_size: 25px;
$height_top_bottom_ui: $corner_height * 1.5;
$square_colors_palette_size: 20px;
$square_colors_square_padding: 10px;
$corner_width: $corner_height * 1.5;
$padding_left_right_ui: $corner_height * 4;

// -> Glitch animation
// ->-> Initial state
$initial_bottom_position_crop_icon: -8px;
$initial_opacity_crop_icon: 0;
$initial_opacity_main_crop_icon: 1;
$animation_opacity_crop_icons: 0.5;
$difference_between_glitch_state: 8px;
$bottom_final_state_position: $initial_bottom_position_crop_icon + $difference_between_glitch_state;
$top_final_state_position: $initial_bottom_position_crop_icon + $difference_between_glitch_state * 2;

// Main
$content-left-right-width: $corner_height * 2;
