// Partials / ui / _common.scss

// Ui
div.ui {
  width: 100%;

  & > [class*="_ui"] {
    height: $height_top_bottom_ui;
  }

  .crop_marks {
    width: 100%;


    .corner {
      width: $corner_width;
      height: $corner_height;
      position: relative;

      & > .crop_icon {
        font-size: $ui_icon_font_size;
      }

      &.left > .glitch {
        right: 0px;
      }

      &.right > .glitch {
        left: 0;
      }

      & > .glitch_top, & > .glitch_bottom {
        @include crop_marks_glitch;
        bottom: $initial_bottom_position_crop_icon;
        opacity: $initial_opacity_crop_icon;
      }

      & > .glitch_top {
        color: rgb(0,255,0);
      }

      & > .glitch_bottom {
        color: rgb(0,0,255);
      }
    }
  }
}
