// Partials / structure / _footer.scss

// Footer
footer {
  .ui {
    .corner .crop_icon {
      transform: rotate(180deg);
    }

    // Bottom ui
    & .bottom_ui {
      padding-left: $padding_left_right_ui;
      padding-right: $padding_left_right_ui;

      // Ui info
      .ui_info {
        & > .socials_list {
          & > li {
            padding: $padding_social_icon;
          }
        }
      }

      // Square colors
      & .colors_palette > .square {
        margin-right: $margin_square_colors;

        &.color_1 {
          background-color: $footer_square_1;
        }
        &.color_2 {
          background-color: $footer_square_2;
        }
        &.color_3 {
          background-color: $footer_square_3;
        }
        &.color_4 {
          background-color: $footer_square_4;
        }
        &.color_5 {
          background-color: $footer_square_5;
        }
      }
    }
  }
}
// end Footer
