// Partials / structure / _header.scss

// Header
header {
  .ui {
    & .top_ui {
      padding-left: $padding_left_right_ui;
      padding-right: $padding_left_right_ui;

      & .colors_palette > .square {
        height: $square_colors_palette_size;
        width: $square_colors_palette_size;

        &.color_1 {
          background-color: $header_square_1;
        }
        &.color_2 {
          background-color: $header_square_2;
        }
        &.color_3 {
          background-color: $header_square_3;
        }
        &.color_4 {
          background-color: $header_square_4;
        }
        &.color_5 {
          background-color: $header_square_5;
        }
      }
    }
  }
}
// end Header
