// Partials / structure / _header.scss

// Header
header {
  .ui {
    top: $external_margin_ui;

    & .top_ui {
      padding: 0 $corner_width_height * 4 0 $corner_width_height * 4;

      & .colors_palette > .square {
        height: $square_colors_palette_size;
        width: $square_colors_palette_size;
        border: 1px solid black;
      }
    }
  }
}
// end Header
