// Partials / structure / _main.scss

main {
  height: 100%;
  width: 100%;

  & > .content_wrapper {
    height: 100%;
    width: 100%;

    & > .content_left {
      height: 100%;
      width: $content-left-right-width;
    }

    & > .content_middle {
      height: 100%;
      width: 100%;
      background-color: lightgrey;
    }

    & > .content_right {
      height: 100%;
      width: $content-left-right-width;
    }
  }
}
